* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.container {
  width: 95vw;
  padding: 15px;
  margin:15px;
}

.calculator {
  width: 300px;
  height: 450px;
  background-color: #2c2c2c;
  color: #fff;
  margin-top: 10px;
  padding-top: 2px;
  border-radius: 15px;
}
  
.display {
  display: block;
  width: 95%;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-left:auto;
  text-align: right;
  border: 1px solid #929292;
  border-radius: 10px;
}

.buttonContainer {
  background-color: transparent;
  padding-left: 8px;
  margin: 5px;
  width: auto;
  height: calc(90% - 3px);
}

button {
  width: 60px;
  height: 65px;
  color: #fff;
  margin-top: 10px;
  margin-right: 5px;
  background-color: #3a3a3a;
  border: 1px solid #929292;
  border-radius: 5px;
}

button:hover{
  background-color: #414141;
  cursor: pointer;
}

#clear {
  background-color: rgb(153, 0, 0);
}

#clear:hover{
  background-color: rgb(196, 0, 0);
}

.operator {
  background-color: rgb(165, 107, 0);
}

.operator:hover{
  background-color: rgb(202, 131, 0);
}

.equals {
  background-color: rgb(0, 75, 0);
}

.equals:hover{
  background-color: rgb(0, 107, 0);
}

.widebutton {
  width: 130px;
}

.row{
  background-color: transparent;
}